@use "../variables" as *;

.card {
	color: $white;
	padding: $extraspacing 3 * $extraspacing;
	border-radius: 20px;
	background-color: $primary;
	@media screen and (min-width: 0px) and (max-width: $breakpoint-tablet) {
		padding: $extraspacing $extraspacing;
	}

	&-title {
		font-size: 2rem;
	}

	&-divider {
		background-color: rgba($color: $white, $alpha: 0.3) !important;
	}

	&-content {
		color: $white;
		text-decoration: none;
		flex: 0 0 100%;
		margin: $standardspacing;
		display: flex;
		align-items: center;

		@media screen and (min-width: 657px) and (max-width: 957px) {
			flex: 0 0 45%;
		}

		&-container {
			padding: $extraspacing 0;
			display: flex;
			flex-wrap: wrap;
		}

		&-icon {
			flex-shrink: 0;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: rgba($color: $white, $alpha: 0.3);
			margin-right: $extraspacing;
			box-shadow: $boxShadowCard;

			&.alternate {
				background-color: $white;
				color: $primary;
			}
		}

		&-detail {
			font-size: 0.9rem;
		}
	}
}
