@use "../variables" as *;

.button {
	color: $white !important;
	border-radius: 24px !important;
	font-weight: 600 !important;
	padding: $standardspacing 2 * $extraspacing !important;
	letter-spacing: 1.5px;
}
