@import "../variables.scss";

.navbar {
	background-color: $white !important;
	padding: 6px 0;

	&-container {
		width: 100%;
		justify-content: space-between;
	}

	&-logo {
		max-width: 250px;
		margin-bottom: -5px;

		@media screen and (max-width: 546px) {
			max-width: 200px;
		}
	}

	&-navigations {
		& > a {
			text-decoration: none;
			color: $black;
		}
	}

	&-buttons {
		margin-right: $extraspacing;

		&:last-child {
			margin-right: 0;
		}
	}

	&-list-item {
		justify-content: center !important;
	}
}
