@import "../variables.scss";

.container {
	text-align: center;
}

.avatarContainer{
	text-align: center;
	padding: $extraspacing;
}
.textOverflow{
	overflow-wrap: break-word;
}

.img {
	width: 50%;
	border-radius: 50%;
}

.img2 {
	width: 100%;
	min-height: 100px;
	max-height: 100px;
}
