@import "../variables.scss";

.text {
	&-container {
		text-align: center;
		vertical-align: middle;
	}

	&-main {
		position: absolute;
		top: 30%;
		left: 38%;
		font-size: 2.5rem;
		font-weight: 900;
	}
	&-animated {
		display: flex;
		flex-direction: row;
	}
}
