@import "../variables.scss";

.text {
	&-container {
		text-align: center;
		vertical-align: middle;
		height: 100vh;
	}

	&-main {
		position: absolute;
		top: 30%;
		left: 38%;
		font-size: 2.8rem;
		font-weight: 900;
		text-align: center;

		@media (max-width: $breakpoint-phone) {
			top: 27%;
			left: 20%;
			font-size: 1.8rem;
			font-weight: 900;
		}

		@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
			top: 30%;
			left: 30%;
			font-size: 2.3rem;
			font-weight: 900;
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			top: 30%;
			left: 35%;
			font-size: 2.6rem;
			font-weight: 900;
		}
	}
	&-sub {
		position: absolute;
		top: 65%;
		left: 35%;
		font-weight: 400;

		@media (max-width: $breakpoint-phone) {
			top: 50%;
			left: 5%;
		}

		@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
			top: 60%;
			left: 20%;
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			top: 60%;
			left: 28%;
		}
	}
	&-animated {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&-paper {
		background-color: $primary;
	}
}
