@import "../variables.scss";

$imgWidth: 20px;

.text {
	&-container {
		text-align: center;
		vertical-align: middle;
		height: 100vh;
	}

	&-main {
		position: absolute;
		top: 30%;
		width: 100%;
		font-size: 2.8rem;
		font-weight: 900;
		text-align: center;
		@media (max-width: $breakpoint-phone) {
			top: 32%;
			font-size: 1.8rem;
			font-weight: 900;
			margin-bottom: 15vh;
		}

		@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
			top: 30%;
			font-size: 2.3rem;
			font-weight: 900;
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			top: 30%;
			font-size: 2.6rem;
			font-weight: 900;
		}
	}
	&-sub {
		position: absolute;
		top: 65%;
		font-weight: 400;
		text-align: center;
		width: 100%;
		
		@media (max-width: $breakpoint-phone) {
			top: 60%;
		}

		@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
			top: 50%;
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
			top: 60%;
		}
	}
	&-animated {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
	}

	&-card:first-child {
		position: absolute;
		top: 30%;
		right: 12%;
		transform: rotate(7deg);
		box-shadow: -1px 3px 24px 16px rgba(75, 75, 75, 0.07);
	}

	&-image {
		width: $imgWidth;
		margin: 0 auto;
		height: $imgWidth;
	}


	&-image3 {
		display: block;
		position: absolute;
		top: 20%;
		left: 15%;
		transform: rotate(3deg);
		width: 7%;
		animation: mover2 20s infinite linear;
	}

	&-image4 {
		display: block;
		position: absolute;
		top: 80%;
		right: 30%;
		width: 6%;
		animation: mover 18s infinite linear;
	}

	&-image5 {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: 5%;
        left: 40%;
        transform: rotate(15deg);
        width: 14%; // Increased from 4% to 6%
        min-width: 80px; // Increased from 60px to 80px
        animation: rotation 20s infinite linear;
    }
    &-image6 {
        display: block;
        position: absolute;
        top: 10%;
        left: 65%;
        width: 4%;
        min-width: 70px;
        animation: mover 15s infinite linear;
    }

	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	@keyframes mover {
		0% {
			-webkit-transform: rotate(20deg) translateX(0);
		}
		25% {
			-webkit-transform: rotate(-20deg) translateX(-20px);
		}
		50% {
			-webkit-transform: rotate(20deg) translateX(0);
		}
		75% {
			-webkit-transform: rotate(-20deg) translateX(20px);
		}
		100% {
			-webkit-transform: rotate(20deg) translateX(0);
		}
	}

	@keyframes mover2 {
		0% {
			-webkit-transform: rotate(-20deg) translateX(0);
		}
		25% {
			-webkit-transform: rotate(20deg) translateX(20px);
		}
		50% {
			-webkit-transform: rotate(-20deg) translateX(0);
		}
		75% {
			-webkit-transform: rotate(20deg) translateX(-20px);
		}
		100% {
			-webkit-transform: rotate(-20deg) translateX(0);
		}
	}
}