@import "../variables.scss";

.padding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.contact {
	&-container {
		margin-top: 5 * $extraspacing;
		padding: 1.5 * $extraspacing;
		min-height: 85vh;
	}

	&-title {
		font-size: 1rem;
		color: $secondary;
	}

	&-subtitle {
		font-size: 3rem;
		margin: $extraspacing 0;

		@media screen and (max-width: 657px) {
			font-size: 2rem;
		}
	}
	&-card {
		padding: 0
	}
}
