@import "../variables.scss";

.home {
	&-title {
		font-size: 2rem;
		text-align: center;
		color: $secondary;

		&.alt {
			color: $primary;
		}

		@media screen and (max-width: 567px) {
			font-size: 1.5rem;
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -10;
	color: transparent;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// translate:

	&:hover {
		background-color: rgba(15, 15, 15, 0.65);
		color: white;
	}
}

.overlayText {
	margin: 0;
}

.projects {
	margin-left: 10rem;
	margin-right: 10rem;
}