@import "../variables.scss";

.home {
	&-title {
		font-size: 1.75rem;
		text-align: center;
		color: $secondary;

		&-alt {
			font-size: 1.75rem;
			text-align: center;
			color: $primary;
		}
	}
}
