@import "../variables.scss";

.home {
	&-title {
		font-size: 2rem;
		text-align: center;
		color: $secondary;

		&.alt {
			color: $primary;
		}

		@media screen and (max-width: 567px) {
			font-size: 1.5rem;
		}
	}
}
