@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "./variables.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: $black;
	font-family: "Inter", sans-serif;
}

.fixedcontainer {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2 * $standardspacing;

	@media screen and (max-width: 657px) {
		padding: 0 $standardspacing;
	}
}
