$primary: #09c1d7;
$secondary: #77ce90;
$white: #ffffff;
$black: #3d3d3f;

// Spacing
$standardspacing: 0.75rem;
$extraspacing: 1rem;

//Box Shadow
$boxShadowCard: -1px 3px 8px 4px rgba(61, 61, 63, 0.05);
$boxShadowButton: -1px 2px 6px 2px rgba(61, 61, 63, 0.1);

//Breakpoints
$breakpoint-tablet: 786px;
$breakpoint-phone: 480px;
$breakpoint-desktop: 1024px;
