@import "../variables.scss";

.pt {
    padding-top: $extraspacing;
}
.mb {
    margin-bottom: $extraspacing;
}
.mt {
    margin-top: $extraspacing;
}
.img {
    max-width: 100%;
}
.imgContainer {
    height: 100%;
    display: flex;
    align-items: center;
}
// .rightPane {
//     border-left: 1px solid $primary;
//     padding-left: $extraspacing;
// }